:root{
  --blue: #3772FF;
  --red: #DF2935;
  --lightblue: #EEF7FF;

}
body, #root{
  border-radius: 30px;
}
*{
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  height: 10vh;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#searchbar{
  border: none;
  width: 20%;
  outline: none;
  padding-left: 2%;
  border-radius: 20px;
}
.MobileTop{
  display: none;
  height: 7vh;
  align-items: center;
}
.MobileTop input{
  margin-right: 5%;
}
#search{
  display: none;
  width: 10%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.logo{
  width: 12%;
  height: 100%;
}
.logo img{
  width: 100%;
  height: 100%;
}
.navs{
  width: 90%;
}
nav{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
nav button, a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

i{
  font-size: large;
}
nav button:focus, nav button:hover,a:hover,a:focus{
  color: white;
}
.ads{
  display: flex;
  justify-content: center;
}
.adsBoard{
  width: 90%;
  background-color: var(--lightblue);
  height: 70vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adsBoard img{
  width: 100%;
  max-height: 100%;
}
.heading{
  padding-top: 5%;
  padding-left: 2%;
}
.subheading{
  padding-left: 4%;
  color: grey;
  padding-bottom: 1%;
}
.productGrid{
  padding-left: 2%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 5%;
}
.productCard{
  width: 90%;
  height: 23em;
  background-color: var(--lightblue);
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.PImage{
  border-radius: 30px;
  width: 100%;
  height: 78%;
  margin-top: -2%;
  margin-bottom: 3%;
}
.PImage img{
  width: 100%;
  height: 80%;
}
.brief h5{
  margin-top:3%;
  margin-bottom: 3%;
  color: var(--red);
}
.brief{
  text-align: center;
}
.brief button , .PImage button{
  border: none;
  outline: none;
  margin: 5%;
}
.brief button:focus, .PImage .btnON{
  color: #DF2935;
}
.catPopUp , .profilePopUp{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: absolute;
  gap: 5px;
  padding: 2%;
  width: 20%;
  height: 20%;
  top: 7%;
  left: 35%;
  border-radius: 20px;
  background-color: var(--lightblue);
}
.profilePopUp{
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
h2{
  text-align: center;
  background-color: var(--lightblue);
}
.cartList{
  background-color: var(--lightblue);
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}
b{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 2%;
  border: dotted .5px;
}
.loginPage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(var(--lightblue),var(--blue));
} 
.loginPage .card form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  width: 50%;
}
.loginPage .card form input{
  border: none;
  outline: none;
  padding: 3%;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.311);

}
.loginPage .card form input::placeholder{
padding-left: 5%;
color: var(--blue);
}
.loginPage h4{
  text-align: center;
}

.loginPage .card form button{
  background-color: var(--blue);
  color: #EEF7FF;
  padding: 5%;
  border: none;
  outline: none;
  border-radius: 50px;
}
.loginPage .card p{
  text-align: center;
}
.card{
  background-color: var(--lightblue);
  width: 30%;
  height: 50vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 50%;
  height: 10%;
  border-radius: 20px;
  border: none;
  background-color: var(--blue);
}
.btn button{
  width: 85%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: var(--blue);
}
.buttomNav{
  display: none;
  position: sticky;
  bottom: 0%;
  background-color: var(--blue);
  width: 100%;
  height: 7vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.buttomNav button{
  background-color: transparent;
  border: none;
  outline: none;
}
.addpost{
  background-color: var(--lightblue);
  width:  100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addpost form{
  display: flex;
  flex-direction: column;
  background:linear-gradient(var(--blue),darkblue);
  height: 90vh;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  padding: 5%;
}
.addpost form input{
  width: 100%;
  height: 10%;
  padding-left: 5%;
  background-color: transparent;
  border: solid .5px var(--lightblue);
  outline: none;
  display: flex;
  border-radius: 20px;
  color: #EEF7FF;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  font-size: medium;
}
.addpost form #description{
  height: 40%;
}
#btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.addpost button{
  height: 120%;
  width: 40%;
  padding: 2%;
  border-radius: 20px;
  border: var(--lightblue) solid .5px;
  color: var(--lightblue);
  background-color: transparent;
  font-weight: bold;
}
.addpost #cancel{
  color: #DF2935;
  border: #DF2935 solid .5px;
}
.addpost button:hover{
  background-color: var(--lightblue);
  color: #3772FF;
}

.addpost #cancel:hover{
  background-color: var(--red);
  color: var(--lightblue);
}
.addpost input::placeholder{
  color: #EEF7FF;
}
.addpost span{
  color: #EEF7FF;
  font-weight: bold;
  padding-right: 20px;
  width: 70%;
}


@media screen and (max-width: 768px) {
  header{
    display: none;
  }
  .logo{
    width: 30%;
    border-radius: 30px 30px 0px 0px;

  }
  .logo img{
    border-radius: 30px;
  }
  .MobileTop{
    border-radius: 30px 30px 0px 0px ;
    border: solid .5px var(--blue);
    background: linear-gradient(to right ,white,white,var(--blue), var(--blue));
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
  }
  .loginPage{
    overflow: hidden;
  }
  .card{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
  }
  #search{
    height: 5vh;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productGrid{
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 50%;
  }
  .productCard{
    height: fit-content;
  }
  .productCard .PImage{
    height: fit-content;
    margin-bottom: 2em;
  } 
  .buttomNav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .addpost form{
    width: 80%;
    height: 70vh;
  }

}